body{
    font-family: Playfair Display;
    font-weight: 400;
    /* overflow: hidden; */
    font-size: 18px;
   
}
.logo {
    position: absolute;
    width: 190px;
    height: 41px;
    top: 10px;
    left: 56px;
    object-fit: cover;
}
 
a {
    font-size:14px;
    font-weight:400
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }

.ms-autos {
    margin: 0px 52px;
}
.bg{
    background-color: #094B72;
    color: white;
}
 .button {
    
    position: absolute;
    top: 10px;
    left: 56px;
    top: 0;
    left: 985px;
    background-image: url(./img/rectangle.svg);
    background-size: 100% 100%;
    all: unset;
    box-sizing: border-box;
  }
  .button .component {
    height: 53px;
    background-image: url(./images/Rectangle.png);
    background-size: 100% 100%;
    margin-left: 994px;
    margin-top: -13px;
  }
  .button .overlap-group {
    position: relative;
    width: 138px;
    height: 23px;
    top: 119px;
    left: 80px;
  }
  
  .button .get-a-quote {
    position: absolute;
    width: 144px;
    top: -103px;
    left: -94px;
    font-family: "Circular-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .button .group {
    position: absolute;
    width: 8px;
    height: 11px;
    top: -98px;
    left: 21px;
  }
  .navbar-nav li a {
    white-space: nowrap;
}

.navbar-nav li .spans {
    display: inline;
}
/* search starts */
.share_your_research{
    width: 1254px;
    text-align: center;
    color: #094B72;
    font-size: 60px;
    font-family: Playfair Display;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 1.20px;
    word-wrap: break-word;
    margin: -12px;
}
.margin_top{
    margin-top: 100px;
}
.search{
    width: 39vw;
    margin: 25px;
    height: 6vh;
    border: solid 3px #094B72;
}
.join_us{
    font-size: 24px;
}




/* search ends */
  @media screen and (max-width:769px){
    .centerOnMobile {
      text-align:center
    }
    .ms-autos {
        margin-left:auto;
    }
    .bg{
        /* background-color: #094B72; */
        color: white;
    }

    .button {
        display: none;
        visibility: hidden;
      }
      .button .component {
        /* height: 53px; */
        /* background-image: url(./images/Rectangle.png); */
        /* background-size: 100% 100%; */
        /* margin-left: 994px; */
        /* margin-top: -13px; */
        visibility: hidden;
    }
      .button .overlap-group {
        display: none;
      }
      
      .button .get-a-quote {
         
        display: none;
      }
      
      .button .group {
        display: none;
      }
      .share_your_research{
        width: 100vw;
        text-align: center;
        color: #094B72;
        font-size: 30px;
        font-family: Playfair Display;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 1.20px;
        word-wrap: break-word;
        margin: -31px;
    }
    .search {
        width: 90vw;
        margin: 33px;
        height: 6vh;
        border: solid 3px #094B72;
    }
    .margin_top{
        margin-top: 60px;
    }
    .join_us {
        font-size: 16px;
        margin-top: -16px;
    }
  }
