body{
    font-family: Playfair Display;
    font-weight: 400;
    overflow: scroll;
    font-size: 18px;
    
   
}
 
.logo {
    position: absolute;
    width: 190px;
    height: 41px;
    top: 10px;
    left: 56px;
    object-fit: cover;
}
 
a {
    font-size:14px;
    font-weight:400
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }

.ms-autos {
    margin: 0px 52px;
}
.bg{
    background-color: #094B72;
    color: white;
}
 .button {
    
    position: absolute;
    top: 10px;
    left: 56px;
    top: 0;
    left: 985px;
    background-image: url(./img/rectangle.svg);
    background-size: 100% 100%;
    all: unset;
    box-sizing: border-box;
  }
  .button .component {
    height: 53px;
    background-image: url(./images/Rectangle.png);
    background-size: 100% 100%;
    margin-left: 994px;
    margin-top: -13px;
  }
  .button .overlap-group {
    position: relative;
    width: 138px;
    height: 23px;
    top: 119px;
    left: 80px;
  }
  
  .button .get-a-quote {
    position: absolute;
    width: 144px;
    top: -103px;
    left: -94px;
    font-family: "Circular-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .button .group {
    position: absolute;
    width: 8px;
    height: 11px;
    top: -98px;
    left: 21px;
  }
  .navbar-nav li a {
    white-space: nowrap;
}

.navbar-nav li .spans {
    display: inline;
}
/* search starts */
.share_your_research{
    width: 1254px;
    text-align: center;
    color: #094B72;
    font-size: 60px;
    font-family: Playfair Display;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 1.20px;
    word-wrap: break-word;
    margin: -12px;
}
.margin_top{
    margin-top: 100px;
}
.search{
    width: 39vw;
    margin: 25px;
    height: 6vh;
    border: solid 3px #094B72;
}
.join_us{
    font-size: 24px;
}

.blue-icon {
  /* position: absolute; */
  height: 100vh;
  width: 100vw;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0.21%;
  overflow: hidden;
  display: flex;
  gap: 100px;
  /* align-items: center; */
  margin-top: 170px;
  background-color: #F2F7FF;}
  
  .tag {
    border-radius: 20px;
    background-color: #f7f1ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 12px;
    text-align: left;
    color: #722ed1;
  }
  .discover-the-benefits {
    /* position: relative; */
    font-size: 32px;
    line-height: 40px;
    font-family: Playfair Display;
    margin: 10px;
  }
  .box{
    height: 263px;
    width: 296px;
  }
  .vector-icon {
    /* position: relative; */
    width: 32px;
    height: 40px;
  }
  .journals,
  .we-are-the {
    /* position: relative; */
    line-height: 24px;
    display: inline-block;
    /* width: 307px; */
  }
  .we-are-the {
    font-weight: 500;
    font-family: Poppins; ;
    color: #8989a2;
    width: 305px;
  }

  
  .resources-for-librarian {
    right: 0;
    letter-spacing: 0.08em;
    line-height: 140.5%;
    display: flex;
    align-items: center;
    width: 256px;
    height: 49.15px;
    margin-top: 20px;
    border-radius: 33px;
    background-color: #094B72;
    align-items: center;
    justify-content: center;
    color: white;
}
.count_bg {
  background-color: #094b72;
  width: 100vw;
  height: 50vh;
}
.section-title {
  font-family:  Playfair Display;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: 0.5px;
  color: black;
}
.count_description{
  margin-top: -35px;
  color: black;
}
.counts {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.divs {
  text-align: center;
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #094b72; /* Background color for each count */
  border-radius: 25px;
}

.number {
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}

.label {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
/* library starts desktop */
.lib_bg {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2f7ff;
}
.lib_title{
  font-size: 48px;
  font-family: "Playfair Display";
  margin-top: 10px;
}
.lib_image  {
  /* d-flex justify-content-center  align-items-center flex-row mx-5 mt-5 flex-nowrap */
  display: flex ;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
  flex-wrap: nowrap;
 

}
 
.international-studies-of {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  left: -15px;
  top: 10px;
  text-align: center;
  font-size: 24px;
}
.lib_img{
  margin-left: 30px;
  margin-top: 14px;
}
.lib_img1{
  margin-left: 17px;

}
.footer_bg{
  position: relative;
  background-color: #094B72;
  color: white;
  font-family: 'Sanchez', serif;
   
}
.facebook_img{
  position: relative;
  left: -7px;
  top: -1px;

}
.twitter_img{
  position: relative;
  left: -10px;
  top: -1px;

}
.linkedin_img{
  position: relative;
  left: -10px;
  top: -1px;

}
.google_img{
  position: relative;
  left: -10px;
  top: -1px;

}

/* library ends desktop */
/* search ends */
 

#button-addon1 {
  color: #ffc371;
}

i {
  color: #0000cc;
  font-size: 20px;}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

 
.display-3{
  font-family: 'Sanchez', serif;
}

p{
  font-family: 'Tajawal', sans-serif;
}

.lead{
  font-family: 'Sanchez 200', serif;
}
.footer_logo {
  position: absolute;
  width: 190px;
  height: 41px;
  
  object-fit: cover;
}

/* footer starts */

/* footer ends */
  @media screen and (max-width:768px){
    .centerOnMobile {
      text-align:center
    }
    .ms-autos {
        margin-left:auto;
    }
    .bg{
        /* background-color: #094B72; */
        color: white;
    }

    .button {
        display: none;
        visibility: hidden;
      }
      .button .component {
         
        visibility: hidden;
    }
      .button .overlap-group {
        display: none;
      }
      
      .button .get-a-quote {
         
        display: none;
      }
      
      .button .group {
        display: none;
      }
      .share_your_research{
        width: 100vw;
        text-align: center;
        color: #094B72;
        font-size: 30px;
        font-family: Playfair Display;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 1.20px;
        word-wrap: break-word;
        margin: -31px;
    }
    .search {
        width: 90vw;
        margin: 33px;
        height: 6vh;
        border: solid 3px #094B72;
    }
    .margin_top{
        margin-top: 60px;
    }
    .join_us {
        font-size: 16px;
        margin-top: -16px;
    }
    /* why ojs  */
    .discover-the-benefits {
      /* position: relative; */
      font-size: 16px;
      line-height: 40px;
      font-family: Playfair Display;
       
    }
    .blue-icon {
      /* position: absolute; */
      height: 187vh;
      width: 100vw;
      top: 82%;
      right: 0;
      bottom: 0;
      left: 0.21%;
      overflow: hidden;
      display: flex;
      gap: 100px;
      /* align-items: center; */
      background-color: #F2F7FF;}
      
      .mar_top{
        margin-top: 60px;
      }
      .mar_tops{
        margin-top: 125px;
      }
     


      .component-5 {
        text-align: center;
        color: #fff;
        padding: 20px;
    }
  
    /* Counts styles for mobile */
    .counts {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 20px;
    }
  
    .divs {
        text-align: center;
        flex-basis: calc(33.33% - 20px);
        margin: 10px;
        padding: 20px;
        background-color: #094b72; /* Background color for each count */
        border-radius: 20px;
    }
  
    .number {
        font-weight: 800;
        font-size: 24px;
        color: #fff;
    }
  
    .label {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
    }
  
    /* Section heading styles for mobile */
    .section-heading {
        text-align: center;
        margin-top: 20px;
    }
  
    .section-title {
      font-family:  Playfair Display;
      font-weight: 900;
      font-size: 25px;
      letter-spacing: 0.5px;
      color: black;
    }
    .count_description{
      margin-top: -35px;
      font-size: 10px;
      color: black;
    }
  
     /* library starts  */

     .lib_title{
      font-size: 26px;
      font-family: "Playfair Display";
      margin-top: 10px;
    }
    .international-studies-of {
      align-self: stretch;
      position: relative;
      line-height: 32px;
      font-weight: 500;
      font-size: 19px;
      text-align: center;
      margin: 8px 18px;
  }
    .lib_image  {
      /* d-flex justify-content-center  align-items-center flex-row mx-5 mt-5 flex-nowrap */
      display: flex ;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-top: 50px;
      flex-wrap: wrap;
     
    
    }
    .lib_img{
      margin-left: 16px;
      margin-top: 14px;
  }
    .lib_img1{
      margin-left: 12px;
   
  }
     



     /* library ends  */
  }

  
